@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.background-texto {
  background-color: rgba(122, 146, 172, 0.767); 
  color: rgb(53, 48, 48);
}

header{
  font-family: 'Roboto', sans-serif;
  padding: 25px 0px;
  font-size: 30px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

body{
  background-image: url(../img/ribdosul.png);
  background-size: cover;
  width: 100%;
}

h2{
  color: rgb(53, 48, 48);
}

main fieldset{
  background-color: rgba(122, 146, 172, 0.767);
  margin-top: 15px;
}

fieldset legend{
  font-weight: bold;
}

.container{
  padding: 0px 35%;
}

label, option, select{
  display: block;
  margin: 10px 10px 0px 10px;
}

.inputHover input{
  transition: all .5s ease-in-out;
}

.inputHover input:hover{
  transform: scale(1.1);
}

#pontos{
  transition: all .5s ease-in-out;
}

#pontos:hover{
  transform: scale(1.1);
}

select{
  margin: 10px auto 5px;
}

.idades label{
  display: inline-block;
  margin: 15px 10px 10px 10px;
}

.interesses label{
  display: inline-block;
  margin: 10px;
}

button{
  margin-top: 10px;
  padding: 8px;
}